<div class="row">
	<div class="col-md-3">
		<!-- Spacer -->
	</div>
	<div class="col-md-6">
		<!-- Content -->
		<% if @book.errors.any?
			msg =  "<strong>" + pluralize(@book.errors.count, "error") + "</strong> prohibited
		        this book from being saved:<br>" + @book.errors.full_messages.to_sentence
			   	flash.now[:alert] = msg.html_safe %>
	    <% end %>
		<h1 class="text-center">Add a New Book</h1>
		<div class="text-left">
			<%= form_for @book do |f| %>
				<h3><%= f.label 'URL' %></h3>
				<%= f.url_field :url, class: 'form-control input-sm' %>
				<h3><%= f.label 'Title' %></h3>
				<%= f.text_field :title, class: 'form-control input-sm' %>
				<h3><%= f.label 'Author' %></h3>
				<%= f.text_field :author, class: 'form-control input-sm' %>
				<h3><%= f.label 'Price' %></h3>
				<%= f.number_field :price_initial, class: 'form-control input-sm' %>
				<h3><%= f.label 'Price (current)' %></h3>
				<%= f.number_field :price_current, class: 'form-control input-sm' %><br>
				<h3><%= f.label 'ISBN' %></h3>
				<%= f.text_field :isbn, class: 'form-control input-sm' %><br>
				<h3><%= f.label 'Bought?' %></h3>
				<%= f.check_box :bought, class: 'form-control input-sm' %><br>
				<h3><%= f.label 'Read?' %></h3>
				<%= f.check_box :read, class: 'form-control input-sm' %><br>
				<%= f.hidden_field :user_id, session[:userid] %><br>
				<p><%= f.submit 'Create', class: 'btn btn-primary' %></p>
			<% end %>
		</div>
	</div>
	<div class="col-md-3">
		<!-- Spacer -->
	</div>

</div>