<div class="row">
	<div class="col-xs-2">
		<!-- Spacer -->
	</div>
	<div class="col-xs-8">
		<!-- Content -->
		<%= form_tag({controller: "books", action: "new"}, method: "get") do %>
			<div class="col-xs-8">
		  		<%= url_field :url, nil, placeholder: 'Paste book URL here...', class: 'form-control' %>
			</div>
	  		<%= content_tag :button, :type => :submit,:class => 'btn btn-primary' do %>Add It!<% end %>
		<% end %>
		<br>
		<br>
		<br>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Store</th>
					<th>Current Price</th>
					<th>Initial Price</th>
					<th>Bought</th>
					<th>Read</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @books.each do |book| %>
				<tr>
					<td><%= book.title %></td>
					<td>TBD</td>
					<td class="<%= (book.price_current < book.price_initial) ? 'success':'' %>"><%= book.price_current %></td>
					<td><%= book.price_initial %></td>
					<td>
						<%= form_for(book) do |f| %>
							<%= f.check_box :bought %>
						<% end %>
					</td>
					<td><%= book.read %></td>
					<td><%= link_to("Edit", edit_book_path(book)) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
	<div class="col-xs-2">
		<!-- Spacer -->
	</div>
</div>